<<!DOCTYPE html>
%html(lang="en")
    %head
        :css 
        div {
            border: 1px solid black 
        }
    %body
        .menu.nav 
        .menu.tab 
        %span.content 
            %Text-1
            %a(href: ="https://habr.com")  
        .menu-tab 
        %span.content
            Text-2   